<header class="header" [ngClass]="{'sticky': isSticky}">
  <a class="logo">{{'Monish.Dev();'}}</a>
  <button class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <nav class="nav" [ngClass]="{'open': isMenuOpen}">
    <ul>
      <li><a (click)="closeMenu()" href="#">// home();</a></li>
      <li><a (click)="closeMenu()" href="#about">// about();</a></li>
      <li><a (click)="closeMenu()" href="#education">// education();</a></li>
      <li><a (click)="closeMenu()" href="#skills">// skills();</a></li>
      <li><a (click)="closeMenu()" href="#projects">// projects();</a></li>
    </ul>
  </nav>
</header>
