<div class="page-title">SKILLS</div>
<div class="page">

  <h2>.Net Full-Stack</h2>
  <hr />
  <div class="skill">
    <div class="skill-progress">
      <h6>C#</h6><h6>{{cSharp}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{cSharp}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>SQL Server</h6><h6>{{SqlServer}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{SqlServer}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>Web API</h6><h6>{{WebApi}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{WebApi}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>MVC</h6><h6>{{MVC}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{MVC}}%"></div>
    </div>
  </div>

  <br />
  <h2>Subjects</h2>
  <hr />
  <div class="skill">
    <div class="skill-progress">
      <h6>DSA</h6><h6>{{DSA}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{DSA}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>OOPs</h6><h6>{{OOPs}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{OOPs}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>DBMS</h6><h6>{{DBMS}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{DBMS}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>SDLC</h6><h6>{{SDLC}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{SDLC}}%"></div>
    </div>
  </div>


  <br />
  <h2>Others</h2>
  <hr />
  <div class="skill">
    <div class="skill-progress">
      <h6>C/C++</h6><h6>{{CCpp}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{CCpp}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>Java</h6><h6>{{Java}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{Java}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>Python</h6><h6>{{Python}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{Python}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>ReactJS</h6><h6>{{ReactJS}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{ReactJS}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>AngularJS</h6><h6>{{AngularJS}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{AngularJS}}%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-progress">
      <h6>MySQL</h6><h6>{{MySQL}}%</h6>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width:{{MySQL}}%"></div>
    </div>
  </div>
</div>
