p {
  white-space: pre-wrap;
}

.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

  .experience > div > h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .experience > div > h5 {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
  }

  .experience > div > h6 {
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
    color: gray;
  }

.company-logo {
  height: calc(20px + 3vw);
  width: auto;
  border-radius: 10%;
}

@media screen and (max-width: 1000px) {
  .experience > div > h4 {
    font-size: 4vw;
  }

  .experience > div > h5 {
    font-size: 3.8vw;
  }

  .experience > div > h6 {
    font-size: 3.2vw;
  }

  .company-logo {
    height: calc(30px + 6vw);
  }
}

.about-card {
  border-radius: 25px;
  margin: 20px;
  padding: 1rem 2rem;
  background-color: rgb(0, 0, 0, 0.5);
}

  .about-card h2 {
    font-size: 20px;
    text-align: center;
    color: greenyellow;
  }

.about-card p span {
  color: orange;
}

.bio-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 25px 25px 0px 25px;
}

.bio-img p {
    padding-right: 30px;
}

  .bio-img img {
    border-radius: 15px;
    object-fit: cover;
    height: 220px;
  }
@media (max-width: 768px) {
  .bio-img {
    flex-direction: column-reverse; /* Reverse order for mobile view */
  }

    .bio-img p {
      padding-right: 0;
    }

    .bio-img img {
      margin-bottom: 20px;
    }
}

/* container */
.responsive-two-column-grid {
  display: block;
}

  /* columns */
  .responsive-two-column-grid > * {
    padding: 1rem 2rem;
  }

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
