<div class="page">
  <div id="education" style="margin-top: -110px; position: absolute;"></div>
  <div class="page-title">Explore My Educational Background</div>
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Secondary</h3>
          <hr />
          <p>
            <span>◉ Board:</span> {{sBoard}}
          </p>
          <p>
            <span>◉ Institute:</span> {{sInstitute}}
          </p>
          <p>
            <span>◉ Year:</span> {{sYear}}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Higher Secondary</h3>
          <p>
            <span>◉ Board:</span> {{hsBoard}}
          </p>
          <p>
            <span>◉ Institute:</span> {{hsInstitute}}
          </p>
          <p>
            <span>◉ Stream:</span> {{hsStream}}
          </p>
          <p>
            <span>◉ Year:</span> {{hsYear}}
          </p>
          <br>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Graduation</h3>
          <p>
            <span>◉ University:</span> {{ugUniversity}}
          </p>
          <p>
            <span>◉ Institute:</span> {{ugInstitute}}
          </p>
          <p>
            <span>◉ Degree:</span> {{ugDegree}}
          </p>
          <p>
            <span>◉ Department:</span> {{ugDepartment}}
          </p>
          <p>
            <span>◉ Year:</span> {{ugYear}}
          </p>
          <p>
            <span>◉ Avg. CGPA:</span> {{ugCGPA}}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Master's</h3>
          <p>
            {{pgPlan}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="page">
  <div class="page-title">CHECK ABOUT MY EDUCATION</div>
  <h2>Graduation</h2>
  <hr />
  <p>
    <span>◉ University:</span> {{ugUniversity}}
  </p>
  <p>
    <span>◉ Institute:</span> {{ugInstitute}}
  </p>
  <p>
    <span>◉ Degree:</span> {{ugDegree}}
  </p>
  <p>
    <span>◉ Department:</span> {{ugDepartment}}
  </p>
  <p>
    <span>◉ Year:</span> {{ugYear}}
  </p>
  <p>
    <span>◉ Avg. CGPA:</span> {{ugCGPA}}
  </p>
  <br>

  <h2>Higher Secondry</h2>
  <hr />
  <p>
    <span>◉ Board:</span> {{hsBoard}}
  </p>
  <p>
    <span>◉ Institute:</span> {{hsInstitute}}
  </p>
  <p>
    <span>◉ Stream:</span> {{hsStream}}
  </p>
  <p>
    <span>◉ Year:</span> {{hsYear}}
  </p>
  <br>

  <h2>Secondry</h2>
  <hr />
  <p>
    <span>◉ Board:</span> {{sBoard}}
  </p>
  <p>
    <span>◉ Institute:</span> {{sInstitute}}
  </p>
  <p>
    <span>◉ Year:</span> {{sYear}}
  </p>
  <br>
  <div style="height: 20px;"></div>
</div>-->
