<div class="page-title">EDUCATION</div>

<div class="page">

  <h2>Graduation</h2>
  <hr />
  <p>
    <span>◉ University:</span> {{ugUniversity}}
  </p>
  <p>
    <span>◉ Institute:</span> {{ugInstitute}}
  </p>
  <p>
    <span>◉ Degree:</span> {{ugDegree}}
  </p>
  <p>
    <span>◉ Department:</span> {{ugDepartment}}
  </p>
  <p>
    <span>◉ Year:</span> {{ugYear}}
  </p>
  <p>
    <span>◉ Avg. CGPA:</span> {{ugCGPA}}
  </p>
  <br>

  <h2>Higher Secondry</h2>
  <hr />
  <p>
    <span>◉ Board:</span> {{hsBoard}}
  </p>
  <p>
    <span>◉ Institute:</span> {{hsInstitute}}
  </p>
  <p>
    <span>◉ Stream:</span> {{hsStream}}
  </p>
  <p>
    <span>◉ Year:</span> {{hsYear}}
  </p>
  <p>
    <span>◉ Percentage:</span> {{hsPercentage}}
  </p>
  <br>

  <h2>Secondry</h2>
  <hr />
  <p>
    <span>◉ Board:</span> {{sBoard}}
  </p>
  <p>
    <span>◉ Institute:</span> {{sInstitute}}
  </p>
  <p>
    <span>◉ Year:</span> {{sYear}}
  </p>
  <p>
    <span>◉ Percentage:</span> {{sPercentage}}
  </p>
  <br>
  <div style="height: 20px;"></div>
</div>
