.project-card {
  border-radius: 25px;
  margin: 15px;
  padding: 25px;
  filter: opacity(10px);
  background-color: rgb(0, 0, 0, 0.5);
}

  .project-card h2 {
    font-size: 20px;
    text-align: center;
    color: greenyellow;
  }

  .project-card p span {
    color: orange;
  }
