<div class="page">
  <div id="projects" style="margin-top: -110px; position: absolute;"></div>
  <div class="page-title">Projects I've Been Involved With</div>

  <div class="project-card">
    <h2>Shipment Tracking (Client Project)</h2>
    <hr />
    <p>
      <span>◉ Description: </span> {{projFunction1}}
    </p>
    <p>
      <span>◉ Technologies Used: </span> {{projTechnologiesUsed1}}
    </p>
    <br>
  </div>

  <div class="project-card">
    <h2>Secure Chat Web App (College Project)</h2>
    <hr />
    <p>
      <span>◉ Description: </span> {{projFunction2}}
    </p>
    <p>
      <span>◉ Technologies Used: </span> {{projTechnologiesUsed2}}
    </p>
    <p>
      <span>◉ GitHub Link: </span>
      <a class="dont_hilite_link" target="_blank" rel="noreferrer" href={{projGitHubLink2}}>Click Here</a>
    </p>
    <br>
  </div>

  <div class="project-card">
    <h2>Attendance Android App (College Project)</h2>
    <hr />
    <p>
      <span>◉ Description: </span> {{projFunction3}}
    </p>
    <p>
      <span>◉ Technologies Used: </span> {{projTechnologiesUsed3}}
    </p>
    <p>
      <span>◉ GitHub Link: </span>
      <a class="dont_hilite_link" target="_blank" rel="noreferrer" href={{projGitHubLink3}}>Click Here</a>
    </p>
    <br>
  </div>
</div>
