.single_line{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.skill_progress{
    background-color: #b9ff30;
    height: 10px;
}

.dont_hilite_link{
    text-decoration: none;
    color: white;
}

.points{
    font-size: 25px;
    font-weight: bold;
    color: #fb9700;
}

.sub_points{
    font-weight: bold;
    color:#b9ff30;
}