/* You can add global styles to this file, and also import other style files */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@800&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
  font-family: "Inconsolata", monospace;
  word-spacing: 2px;
  transition: all 0.3s ease;
}

body {
  overflow-x: hidden;
}

.page > hr, .page > h2, .typewriter { /* change color theme */
  color: greenyellow;
}

.page > p > span { /* change color theme */
  color: orange;
}

.sidebar-title, .sidebar-content > a, .percentage { /* change color theme */
  background-color: greenyellow;
}

.sidebar-content { /* change color theme */
  background-color: red;
}

  .sidebar-content > a:hover { /* change color theme */
    background-color: red;
  }

  .sidebar-content > a > svg, .sidebar-title { /* change color theme */
    color: black;
  }

.page {
  color: white;
  padding: 15px 15px 40px 15px;
  text-transform: uppercase;
  font-size: 17px;
  min-height: 100vh;
  background-image: url('assets/page_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

  .page > hr {
    height: 10px;
    margin: 0;
    padding: 0;
  }

  .page > h2 {
    font-weight: bold;
    font-size: 18px;
  }

  .page > p {
    font-size: 14px;
  }

    .page > p > span {
      font-weight: bold;
    }


.page-title {
  height: 45px;
  width: 100%;
  position: sticky;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  color: black;
  z-index: 1;
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background: 
    radial-gradient(circle at top left, transparent 15px, greenyellow 0) top left, 
    radial-gradient(circle at top right, transparent 15px, greenyellow 0) top right, 
    radial-gradient(circle at bottom left, transparent 15px, greenyellow 0) bottom left, 
    radial-gradient(circle at bottom right, transparent 15px, greenyellow 0) bottom right;
  background-size: 55% 55%;
  background-repeat: no-repeat;
  padding: 0px 30px;
}


@media screen and (max-width: 1000px) {
  .page {
    font-size: 12px;
  }
    .page-title {
    width: 100%;
    text-align: -webkit-center;
    font-size: small;
  }
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
